# Maven
target/
**/target/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log
logs/

# Sistema operativo
.DS_Store
Thumbs.db

# Environment variables
.env
*.env

# Docker
docker-data/
Amazon Corretto/